[user]
	email = developeredwin@gmail.com
	signingkey = F4E9C40790EFA7D0
	name = Edwin Bedolla
[core]
	editor = vim
	pager = delta
[commit]
	gpgsign = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[log]
	abbrevCommit = true
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default