[user]
	email = developeredwin@gmail.com
	signingkey = 89FDC39449280906
[core]
	editor = vim
[commit]
	gpgsign = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[log]
	abbrevCommit = true
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only --features=interactive
